/*
/*******************************************************************************
#      ____               __          __  _      _____ _       _               #
#     / __ \              \ \        / / | |    / ____| |     | |              #
#    | |  | |_ __   ___ _ __ \  /\  / /__| |__ | |  __| | ___ | |__   ___      #
#    | |  | | '_ \ / _ \ '_ \ \/  \/ / _ \ '_ \| | |_ | |/ _ \| '_ \ / _ \     #
#    | |__| | |_) |  __/ | | \  /\  /  __/ |_) | |__| | | (_) | |_) |  __/     #
#     \____/| .__/ \___|_| |_|\/  \/ \___|_.__/ \_____|_|\___/|_.__/ \___|     #
#           | |                                                                #
#           |_|                 _____ _____  _  __                             #
#                              / ____|  __ \| |/ /                             #
#                             | (___ | |  | | ' /                              #
#                              \___ \| |  | |  <                               #
#                              ____) | |__| | . \                              #
#                             |_____/|_____/|_|\_\                             #
#                                                                              #
#                              (c) 2010-2011 by                                #
#           University of Applied Sciences Northwestern Switzerland            #
#                     Institute of Geomatics Engineering                       #
#                           martin.christen@fhnw.ch                            #
********************************************************************************
*     Licensed under MIT License. Read the file LICENSE for more information   *
*******************************************************************************/

/* fonts */


@font-face {
    font-family: Bangers;
    src: url(../art/fonts/Bangers.ttf);
}

@font-face {
    font-family: BowlbyOne;
    src: url(../art/fonts/BowlbyOne.ttf);
}

@font-face {
    font-family: EricaOne;
    src: url(../art/fonts/EricaOne.ttf);
}

@font-face {
    font-family: LuckiestGuy;
    src: url(../art/fonts/LuckiestGuy.ttf);
}

@font-face {
    font-family: PollerOne;
    src: url(../art/fonts/PollerOne.ttf);
}

@font-face {
    font-family: RammettoOne;
    src: url(../art/fonts/RammettoOne.ttf);
}

@font-face {
    font-family: TitanOne;
    src: url(../art/fonts/TitanOne.ttf);
}

/* elements */

*{
    margin: 0px;
    padding: 0px;
}

.main_div
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.owg_div
{
    width: 100%;
    height: 100%;
}

.canvas
{
    width: 100%;
    height: 100%;
}

.canvas2d
{

}

/* Buttons */
.button_01
{
 background-image:url('../art/btn_01.png');
 width: 300px;
 height: 69px;
}

.button_01:hover
{
    background-image:url('../art/btn_01_h.png');
    width: 300px;
    height: 69px;
}

.button_01:active
{
    background-image:url('../art/btn_01_c.png');
    width: 300px;
    height: 69px;
}


/* Editor */
body{
    font-family: Verdana;
    font-size: 11px;
}
.edbutton{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    cursor:pointer;
    padding: 3px 10px;
    background: -moz-linear-gradient(
        top,
        #f0f0f0 0%,
        #b8b8b8 25%,
        #6b6b6b 75%,
        #424242);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#f0f0f0),
        color-stop(0.25, #b8b8b8),
        color-stop(0.75, #6b6b6b),
        to(#424242));
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #171717;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 10px rgba(087,087,087,0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 10px rgba(087,087,087,0.7);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}
